<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FileManager.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="EspIp" serializeAs="String">
                <value />
            </setting>
            <setting name="EspPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LogBody" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LogFormPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AppSettingsFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AppSettingsFormPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </FileManager.Properties.Settings>
    </userSettings>
</configuration>